$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);

$safemargin: 5%;
$betmargin : 20px;

@media (max-width: map-get($breakpoints,xl)){
}


@media (max-width: map-get($breakpoints,lg)){
    header{
        .upper{
            height: 30px;
        }
        .lower{
            height: 70px;
            img{
              width: 200px;
            }
            nav, .last-btn{
                display: none;
            }
            .nav-m-toggler{
                @include flexcenter();
                .inner{
                    font-size: 30px;
                    cursor: pointer;
                }
            }
            nav{
                display: none;
                position: fixed;
                transform: translateX(0%);
                width: 100vw;
                top: 100px;
                left: 0;
                background-color: #F9F9F9;
                align-items: flex-end;
                box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
                .link-wrapper{
                    height: auto;
                    width: 100%;
                    flex-direction: column;
                    align-items: start;
                    & > *{
                        width: 100%;
                        display: block;
                        padding: 10px $safemargin;
                        height: 50px;
                    }
                    & > *.dropdown{
                        .submenu{
                        position: relative;
                        visibility: hidden;
                        z-index: 1;
                        top: 0;
                        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
                        }
                    }
                    & > *.dropdown:hover{
                        height: auto;
                    }
                }
                &.active{

                }
            }
        }
    }
    footer{
        font-size: .8rem;
        height: 520px;
        .upper{
            height: 420px;
            flex-direction: column;
            .midsec{
                padding: 20px $safemargin;
                position: relative;
                left: 0;
                transform: translateX(0);
                grid-template-columns: 1fr !important;
                grid-template-rows: 200px;
                nav{
                    grid-template-rows: repeat(4, 30px);
                }
            }
        }
    }
    div#body{
        margin-top: 100px;
        section{
            &.why{
                .w-wrapper{
                  .item{
                    i{
                      font-size: 70px;
                    }
                    p{
                        margin: 0 !important;
                    }
                  }
                }
            }
        }
    }
}

@media (max-width: map-get($breakpoints,md)){    
    .alert{
        padding: 5px 10px;
        font-size: 1rem;
    }
    div#body{
        section{
            &.service{
                padding: $betmargin $safemargin;
                .t-wrap{
                    padding-top: 10px;
                    h2{
                        white-space: nowrap;
                    }
                }
                .s-wrapper{
                    margin-top: 20px;
                    flex-direction: column;
                    .menu{
                        width: 100%;
                        padding: 10px 10%;
                        margin-top: 20px;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                }
            }
            &.banner{
                // padding: $betmargin $safemargin;
                min-height: 400px;
                flex-direction: column;
                background-color: transparent;
                &::before{
                    content : '';
                    display: block;
                    background: #5DB3FF;
                    width: 100vw;
                    top: 0 ; left: 0;
                    min-height: 400px;
                    position: absolute;
                    z-index: -1;
                }
              .text{
                padding: $betmargin $safemargin;
                background-color: rgba(0,0,0,0.1);
                justify-content: center;
                z-index: 5;
                .b-title{
                  font-size: 2rem;
                  line-height: 2.1rem;
                  margin-bottom: 20px;
                }
              }
              & > div{
                width: 100%;
                float: none;
              }
              .img-wrapper{
                  position: relative;
                  z-index: -1;
                img{
                    position: absolute;
                    top:-200px;
                    right: 0;
                    width: 300px;
                }
              }
            }
            &.why{
              padding: $betmargin $safemargin;
              .w-wrapper{
                  flex-direction: column;
                .item{
                  width: 240px;
                  height: 240px;
                  margin: 10px 30px;
                  padding: 0;
                  i{
                    font-size: 50px;
                  }
                  p{
                      padding: 0 5%;
                  }
                }
              }
            }
            &.opening{
                padding: $betmargin $safemargin;
              & > div{
                padding: 30px 0;
                border-radius: 5px;
                hr{
                  width: 200px;
                }
                table{
                  tr{
                    line-height: 20px;
                    font-weight: bold;
                    letter-spacing: 0.165em;
                    font-size: .6rem;
                  }
                }
              }
            }
            &.queue{
                position: relative;
                padding: $betmargin $safemargin;
              h1{
                font-size: 2rem;
              }
              .info-wrapper{
                padding: 10px 5%;
                flex-direction: column;
                justify-content: center;
                & > *{
                  padding: 0 20px;
                }
              }
              .qn{
                margin-top: 10px;
                .qnn{
                  width: 150px;
                  font-size: 130px;
                  line-height: 130px;
                }
              }
            }
            &.booking{
                flex-direction: column;
              .left{
                margin-right: 0;
                width: 100%;
                .schedule{
                  td{
                    line-height: 30px;
                  }
                }
              }
              .regis{
                padding: 30px 5%;
                width: 100%;
                margin-top: 20px;
                h1{
                  text-align: center;
                  font-size: 2rem;
                }
                h3{
                    text-align: center;
                }
                form{
                  padding-right: 0;
                  display: block;
                  z-index: 5;
                  width: 100%;
                  & > *{
                    float: none;
                    width: 100%;
                  }
                  & > *:nth-child(1){
                    padding-right: 0;
                  }
                  & > *:nth-child(2){
                    padding-left: 0;
                  }
                  .submit{
                      padding: 20px 0;
                  }
                }
                .backchar{
                    display: none;
                }
              }
            }
            &.c-booking{
                margin-top: 70px;
                padding: $betmargin $safemargin;
              .progress{
                position: absolute;
                top: -80px;
              }
              h1{
                text-align: center;
                font-size: 2rem;
              }
              .info-wrapper{
                  flex-direction: column;
                .qr{
                  img{
                    width: 300px;
                  }
                }
                .info-group{
                    padding: 0 5%;
                }
              }
              small{
                  margin: 5px 5%;
              }
            }
        }
    }
}

@media (max-width: map-get($breakpoints,sm)){
}