/* How to footer stay at bottom */
html, body{ height:100%; margin:0; }

body {
  position: relative;
  display:flex; 
  flex-direction:column; 
}

footer{
  margin-top:auto; 
  clear: both;
  position: relative;
  width: 100%;
}